@model mvcBlog.Models.Uye

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

<div>
    <h4>Üye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            <img src="@Model.foto" class="img-circle img-responsive" alt="@Model.adSoyad" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetki.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id })
</p>
